@font-face {
  font-family: CONDENSE;
  src: url("fonts/CONDENSE.woff");
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand.woff");
}

._font_condense {
  font-family: CONDENSE;
}

._font_quicksand {
  font-family: Quicksand;
}

/* Body */

body {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 16px;
  color: #3C3C3C;
  background: #F5F5F5;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

/* Sidebar */

#_sidebar {
  width: 200px;
  height: 100vh;
  border-right: 1px solid #008bc6;
  top: 0;
  left: 0;
  position: fixed;
  font-family: Quicksand, sans-serif;
}

#_sidebar::-webkit-scrollbar {
  display: none;
}

#_sidebar ._label {
  padding: 16px 24px;
  background: #FFFFFF;
}

#_sidebar ._menu {
  color: #FFFFFF;
  padding: 16px 24px;
  background: #029fda;
  border-bottom: 1px solid #008bc6;
  cursor: pointer;
}

#_sidebar ._menu:hover {
  background: #008BC6;
}

#_sidebar ._menu._active {
  border-right: 5px solid #008bc6;
}

#_sidebar ._menu ._description {
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.5);
}

#_sidebar ._logo {
  width: 200px;
  text-align: center;
  background: #029FDA;
  color: #FFFFFF;
  border-top: 1px solid #008BC6;
  border-right: 1px solid #008BC6;
  padding: 16px 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

#_sidebar ._logo ._icon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 2px solid #008bc6;
  background: url(icon.png) center / cover no-repeat;
  margin: 0 auto;
}

#_sidebar ._logo ._name {
  margin-top: 12px;
}

#_sidebar ._logo ._description {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

/* Main */

#_main {
  width: calc(100vw - 201px - 32px);
  margin: 16px;
  top: 0;
  right: 0;
  position: absolute;
}

#_main ._content {
  border-left: 4px solid #008BC6;
  padding: 16px;
  background: #FFFFFF;
  margin-bottom: 16px;
}

#_main ._content ._label {
  padding: 0 8px;
  font-weight: bold;
  flex: 1;
}

#_main ._content ._label ._value {
  font-size: 10px;
  color: #969696;
}

/* Main - Tweet */

#_main ._content._tweet ._profile {
  margin-bottom: 12px;
}

#_main ._content._tweet ._profile ._icon {
  float: left;
  margin-right: 8px;
}

#_main ._content._tweet ._profile ._icon img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #EBEBEB;
}

#_main ._content._tweet ._profile ._screen_name,
#_main ._content._tweet ._profile ._id {
  font-size: 10px;
}

#_main ._content._tweet ._text {
  background: #F5F5F5;
  padding: 12px;
  margin-bottom: 12px;
}

#_main ._content._tweet ._text ._media {
  margin-top: 12px;
  padding: 12px;
  background: #FFFFFF;
}

#_main ._content._tweet ._text ._media img {
  width: 100%;
  margin-bottom: 12px;
}

#_main ._content._tweet ._text ._media img:last-child {
  margin-bottom: 0;
}

#_main ._content._tweet ._text ._media video {
  width: 100%;
  margin-bottom: 12px;
}

#_main ._content._tweet ._text ._media video:last-child {
  margin-bottom: 0;
}

#_main ._content._tweet ._text ._status {
  margin-top: 12px;
}

#_main ._content._tweet ._text ._status ._id,
#_main ._content._tweet ._text ._status ._time {
  font-size: 10px;
  text-align: right;
}

#_main ._content._tweet ._text ._status ._reaction {
  font-size: 10px;
  float: left;
  margin-top: 15px;
}

#_main ._content._tweet ._text ._status ._reaction ._retweet {
  color: #8cc152;
}

#_main ._content._tweet ._text ._status ._reaction ._favorite {
  color: #da4453;
}

#_main ._content._tweet ._tag_group {
  background: rgba(245, 245, 245, 1);
  padding: 10px;
}

#_main ._content._tweet ._tag_group ._tag {
  padding: 5px 10px;
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  background: rgba(2, 159, 218, 1);
  margin-right: 5px;
  border-radius: 4px;
  line-height: 25px;
}

#_main ._content._tweet._safe {
  border-left-color: #8cc152 !important;
}

#_main ._content._tweet._safe ._profile {
  margin-bottom: 0 !important;
}

#_main ._content._tweet._safe ._text,
#_main ._content._tweet._safe ._tag_group {
  display: none;
}

#_main ._content ._input {
  width: 100%;
  border: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 139, 198, 1);
  padding: 10px 15px;
  height: 35px;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}

/* Parts */

._flex_space_between {
  display: flex;
  justify-content: space-between;
}

._button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  color: #3C3C3C;
  font-size: 12px;
  background: #FFFFFF;
  cursor: pointer;
}

._background_primary {
  color: #FFFFFF;
  background: #3bafda !important;
}

._background_primary:hover {
  color: #FFFFFF;
  background: #4fc1e9 !important;
}

._background_danger {
  color: #FFFFFF;
  background: #da4453 !important;
}

._background_danger:hover {
  color: #FFFFFF;
  background: #ed5565 !important;
}
